@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Данная программа позволяет шифровать и расшифровывать текст и .docx файлы по указанному ключу методом вижинера </p>
