@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Данная программа позволяет шифровать и дешифровать текст по указанному ключу методом вижинера </p>
<ul>
    <li>Возможность работать с текстом, введенным с клавиатуры</li>
    <li>Возможность сохранить полученный текст в файл</li>
    <li>Возможность загрузить любой .docx файл (до 100МБ) для обработки и получить преобразованный файл с сохраненными стилями и разметкой</li>
</ul>
