@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title:</h2>

<address>
    <strong>Github:</strong>   <a href="https://github.com/WhiteStaff">https://github.com/WhiteStaff</a><br />
    <strong>Vk:</strong> <a href="https://vk.com/id136217569">https://vk.com/id136217569</a>
</address>